@import '~sn-stylekit/dist/stylekit.css';

:root {
  --sn-stylekit-font-size-editor: 16x;
  --sn-stylekit-monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo,
    'Ubuntu Mono', courier, monospace;
  max-height: 50px;
}

@media screen and (max-width: 900px) {
  :root {
    --sn-stylekit-font-size-editor: 18px;
  }
  h1 {
    font-size: 1.75em; // is usually 2em
  }
}

.container {
  position: relative;
  height: 40px;
  width: 99%;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.column {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  white-space: normal;
}
.timer {
  font-size: 24px;
  text-align: right;
}
.vl {
  border-left: 2px solid rgb(57, 132, 247);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 15px;
}
.time-input {
  margin-top: 3px;
  width: 30px;
}
label {
  margin-top: 3px;

  margin-left: 5px;
}
button {
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
}
body,
html {
  background-color: transparent;
  background-color: var(--sn-stylekit-background-color);
  font-family: var(--sn-stylekit-sans-serif-font);
  font-size: var(--sn-stylekit-base-font-size);
  height: 10%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sn-component {
  height: 40px;
  overflow-y: auto;
  overflow-x: hidden;

  flex-direction: column;
  font-size: var(--sn-stylekit-font-size-editor);

  @media screen and (max-width: 900px) {
    min-height: -webkit-fill-available;
  }
}

p {
  padding: 0px 1em;
}

.blink-background {
  animation: blinkingText 500ms 5;
}
@keyframes blinkingText {
  50% {
    background-color: white;
  }
  100% {
    background-color: red;
  }
}
@import './print.scss';
@import './dark.scss';
